<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
</head>
<body>
	<h1>播放器</h1>
	<div id="player">
		<p id="current">无音乐播放</p>
	</div>
	<div class="">
		<button id="play">播放</button>
		<button id="pause">暂停</button>
		<button id="pre">上一首</button>
		<button id="next">下一首</button>
		<button id="auto">自动播放</button>
		<input type="range" id="volume" min="0" max="1" defaultValue="0" name="range" step="0.1">
		<select name="" id="mode">
			<option value="0">单曲循环</option>
			<option value="1" selected="selected">顺序播放</option>
			<option value="2">列表循环</option>
			<option value="3">随机播放</option>
		</select>
	</div>
	<script src="/script/index.js"></script>
</body>
</html>